# Mac
.DS_Store
.TemporaryItems
Thumbs.db
._*
# IDEs
/.idea/
*.code-workspace
*.iml
# Project specific
/lib/defaults.yaml
certs/
crl/
csr/
newcerts/
private/
serial*
crlnumber*
index.txt*
certbackup.zip
*.pyc
/__pycache__
/venv/
/.venv/
